In [1]:
import torch
import os
import numpy as np
import pandas as pd

In [2]:
training_data = pd.read_csv('data/MNIST/mnist_train.csv')
training_data.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
training_data.shape

(60000, 785)

In [13]:
training_data.nunique()

label    10
1x1       1
1x2       1
1x3       1
1x4       1
         ..
28x24     3
28x25     1
28x26     1
28x27     1
28x28     1
Length: 785, dtype: int64

In [3]:
testing_data = pd.read_csv('data/MNIST/mnist_test.csv')
testing_data.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
testing_data.shape

(10000, 785)

In [6]:
val_ratio = 0.2
data_size = training_data.shape[0]
val_size = round(0.2*data_size)
X_train = training_data[:-val_size]
X_val = training_data[-val_size:]
y_train = X_train['label']
y_val = X_val['label']
X_train = X_train.drop(['label'], axis = 1)
X_val = X_val.drop(['label'], axis = 1)

In [8]:
X_train.shape

(48000, 784)

In [9]:
y_train.shape

(48000,)

In [10]:
X_val.shape

(12000, 784)

In [11]:
y_val.shape

(12000,)